@media (max-width: 375px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    padding: 12px 15px;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .brandtitle .logo {
    width: 21px;
    height: 16px;
    top: 7px;
    border-radius: 8px;
  }
  header nav .brandtitle .brandname {
    width: 38px;
    height: 12px;
    padding-left: 1px;
  }
  header nav .menu {
    position: relative;
  }
  header nav .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .menu ul li {
    margin-left: 21px;
    list-style: none;
  }
  header nav .menu ul li a {
    text-decoration: none;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #01114C;
  }
  header nav .menu ul .active {
    background: #0025B4;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
  }
  header nav .menu ul .active a {
    color: #ffffff;
  }
  header .body {
    margin-top: 23px;
    width: 100%;
  }
  header .body .left {
    width: 100%;
    float: left;
  }
  header .body .left h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-right: 12rem;
  }
  header .body .left p {
    margin-top: 20px;
    height: 96px;
    width: 358px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 18px;
  }
  header .body .left .bottom {
    margin-top: 48.29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    position: relative;
  }
  header .body .left .bottom .hire img {
    width: 120px;
    position: relative;
    z-index: 2;
  }
  header .body .left .bottom .hire .hire-us {
    position: relative;
    z-index: 3;
    left: -5.5rem;
    top: -.8rem;
    color: #ffffff;
    font-size: 12px;
  }
  header .body .left .bottom .watch {
    margin-left: -.8rem;
  }
  header .body .left .bottom .watch a {
    margin-left: .3rem;
    font-weight: normal;
    font-size: 14px;
  }
  header .body .left .dot-dot {
    position: relative;
    z-index: 4;
    top: -1.7rem;
    left: -3rem;
  }
  header .body .left .dot-dot img {
    height: 70px;
    width: 80px;
  }
  header .body .right {
    position: relative;
    top: -28.5rem;
    left: -6rem;
    width: 50%;
    float: right;
  }
  header .body .right .image {
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
    right: .5rem;
    height: 210px;
    width: 210px;
  }
  main {
    width: 100%;
    position: absolute;
    z-index: 10;
    background: #F5F9FF;
    height: 1344px;
    top: 434px;
  }
  main .head {
    margin-top: 45.5px;
    text-align: center;
  }
  main .head .text {
    margin-top: 18.5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
  }
  main .body {
    position: relative;
    z-index: 6;
    margin-top: 65px;
    width: 100%;
  }
  main .body .left {
    position: relative;
    top: 20rem;
    width: 100%;
    padding-right: 3.5rem;
    float: left;
    margin-left: 18px;
    height: 442px;
    width: 400px;
    color: #000000;
    font-size: 12px;
    line-height: 20px;
  }
  main .body .left p {
    margin-bottom: 2rem;
  }
  main .body .right {
    width: 100%;
    float: left;
    position: relative;
    top: -28rem;
  }
  main .body .right .avatar-1 {
    margin-top: -5rem;
    margin-left: -4rem;
  }
  main .body .right .avatar-1 img {
    width: 561px;
    height: 407px;
  }
  main .body .right .dot {
    margin-top: -14rem;
    padding-left: 19rem;
  }
  main .body .right .dot img {
    width: 100px;
    height: 80px;
  }
  main .conclusion {
    position: relative;
    top: 18rem;
    left: -7rem;
    width: 90%;
    z-index: 7;
    height: 740px;
    width: 440px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
  }
  main .conclusion .wrap {
    position: relative;
    z-index: 1;
    top: -11rem;
    left: 3.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "growth" "cloud" "market";
    width: 100%;
    padding: 0 55px 0 44px;
  }
  main .conclusion .wrap .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: growth;
  }
  main .conclusion .wrap .first .side-1 .logoo {
    margin-left: 100px;
  }
  main .conclusion .wrap .first .side-1 .logoo .icon {
    position: relative;
    z-index: 1;
  }
  main .conclusion .wrap .first .side-1 .logoo .growth {
    position: relative;
    z-index: 2;
    top: -1rem;
    left: -2.5rem;
  }
  main .conclusion .wrap .first .side-1 .texxt {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #01114C;
    padding: 0rem 0rem;
  }
  main .conclusion .wrap .first .linebreaker {
    display: none;
    margin-left: 41px;
    border: 0.25px solid #979797;
    width: 1px;
    height: 364px;
  }
  main .conclusion .wrap .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: cloud;
  }
  main .conclusion .wrap .second .side-2 {
    padding-left: 30px;
  }
  main .conclusion .wrap .second .side-2 .logoo {
    margin-left: 70px;
  }
  main .conclusion .wrap .second .side-2 .logoo .icon-1 {
    position: relative;
    z-index: 1;
  }
  main .conclusion .wrap .second .side-2 .logoo .cloud {
    position: relative;
    z-index: 2;
    top: -1rem;
    left: -2.65rem;
  }
  main .conclusion .wrap .second .side-2 .texxt {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #01114C;
    padding: 0rem 0rem;
  }
  main .conclusion .wrap .second .linebreaker2 {
    display: none;
    margin-left: 44.5px;
    border: 0.25px solid #979797;
    width: 1px;
    height: 364px;
  }
  main .conclusion .wrap .third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: market;
  }
  main .conclusion .wrap .third .side-3 {
    padding-left: 30px;
  }
  main .conclusion .wrap .third .side-3 .logoo {
    position: relative;
    right: 4rem;
    top: .5rem;
    margin-bottom: -1rem;
  }
  main .conclusion .wrap .third .side-3 .texxt {
    margin-top: 4px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #01114C;
    padding: 0rem 0rem;
  }
  main .conclusion .hire-ad {
    position: relative;
    z-index: 2;
    top: -13rem;
    left: 2.5rem;
    text-align: center;
  }
  main .conclusion .hire-ad img {
    position: relative;
    z-index: 4;
  }
  main .conclusion .hire-ad .hiree {
    position: relative;
    z-index: 5;
    color: #ffffff;
    left: -10rem;
    top: -1.5rem;
  }
  .bodyy {
    width: 100%;
  }
  .bodyy .head {
    position: relative;
    top: 18rem;
    text-align: center;
  }
  .bodyy .head .text {
    margin-top: 18.5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 54px;
  }
  .bodyy .body {
    width: 100%;
  }
  .bodyy .body .left {
    width: 100%;
    float: left;
    z-index: 3;
    margin-left: 145px;
    position: relative;
    top: 22rem;
    left: -4rem;
  }
  .bodyy .body .left .textt {
    position: relative;
    z-index: 3;
    left: 292px;
  }
  .bodyy .body .left .textt img {
    width: 135px;
    height: 180px;
    position: relative;
    left: -14.7rem;
    top: -8.6rem;
  }
  .bodyy .body .left .avatar-2 {
    position: relative;
    z-index: 2;
    top: 10rem;
  }
  .bodyy .body .left .avatar-2 img {
    width: 561px;
    height: 407px;
    margin-top: -12rem;
    margin-left: -14rem;
  }
  .bodyy .body .left .design {
    position: relative;
    z-index: 1;
    left: 87px;
    margin-left: -2rem;
    margin-top: 12rem;
  }
  .bodyy .body .left .design img {
    width: 561px;
    height: 407px;
    margin-top: 10rem;
    margin-left: -10rem;
  }
  .bodyy .body .right {
    position: relative;
    z-index: 4;
    right: 2rem;
    top: 12rem;
    margin-top: 12rem;
    left: 4rem;
    width: 100%;
    float: left;
    text-align: justify;
    height: 494px;
    width: 365px;
    padding: 0 5rem 0 5rem;
  }
  .bodyy .body .right .texxt p {
    margin-bottom: 2rem;
    font-size: 10px;
  }
  .bodyy .body .right h4 {
    font-size: 16px;
    line-height: 24px;
    color: #01114C;
    margin-bottom: 30.29px;
  }
  .bodyy .body .right .container {
    margin-right: -4rem;
  }
  .bodyy .body .right .container img {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 1;
  }
  .bodyy .body .right .container .sign {
    position: relative;
    z-index: 2;
    left: -10rem;
    top: -2rem;
    color: #ffffff;
  }
  .part-3 {
    position: relative;
    background: #0a81fd;
    width: 100%;
    height: 300px;
    margin-top: 55rem;
    padding-top: 4rem;
  }
  .part-3 .background {
    display: none;
    position: relative;
    z-index: 1;
    height: 500px;
  }
  .part-3 .background img {
    width: 100%;
    height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .part-3 .text-1 {
    width: 100%;
    position: relative;
    z-index: 2;
    left: -11.3rem;
    padding: 0;
    padding-right: 0rem;
  }
  .part-3 .text-1 .para {
    margin-top: 15rem;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
  }
  .part-3 .text-1 .para span {
    color: #01114C;
  }
  .part-3 .text-2 {
    position: relative;
    z-index: 3;
    top: -16rem;
  }
  .part-3 .text-2 .graph {
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
  }
  .part-3 .hire-ads {
    position: relative;
    z-index: 4;
    top: -12rem;
    text-align: center;
    left: 1.5rem;
  }
  .part-3 .hire-ads img {
    position: relative;
    z-index: 1;
  }
  .part-3 .hire-ads .us {
    position: relative;
    z-index: 2;
    top: -1.7rem;
    left: -10rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #0025B4;
  }
  .part-4 {
    width: 100%;
    margin-top: 26rem;
  }
  .part-4 .head {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #2F281E;
  }
  .part-4 .head .pa {
    font-size: 26px;
    line-height: 54px;
  }
  .part-4 .body {
    width: 100%;
    position: relative;
    left: -6rem;
    top: -22rem;
  }
  .part-4 .body .left {
    width: 100%;
    float: left;
  }
  .part-4 .body .left .firstly {
    margin-left: -.3rem;
  }
  .part-4 .body .left .firstly .yo {
    margin-left: 6rem;
    padding: 10px 36px 23px 36px;
    width: 283px;
    height: 119px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 12px;
    text-align: left;
    line-height: 25px;
    color: #01114C;
  }
  .part-4 .body .left .firstly .yoyo {
    position: relative;
    top: -8rem;
    left: 373px;
  }
  .part-4 .body .left .secondly {
    margin-top: 8px;
    margin-left: 1rem;
  }
  .part-4 .body .left .secondly .ta {
    padding: 10px 36px 23px 36px;
    width: 283px;
    height: 119px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 12px;
    text-align: left;
    line-height: 25px;
    color: #01114C;
    margin-left: 75px;
    margin-top: -11rem;
  }
  .part-4 .body .left .secondly .tata {
    position: relative;
    left: 354px;
    top: -8rem;
  }
  .part-4 .body .right {
    position: relative;
    margin-top: 37rem;
    margin-right: 15rem;
    width: 100%;
    float: left;
  }
  .part-4 .body .right .firstly {
    position: relative;
    z-index: 3;
  }
  .part-4 .body .right .firstly .za {
    padding: 10px 36px 23px 36px;
    margin-left: 1rem;
    width: 283px;
    height: 119px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 12px;
    text-align: left;
    line-height: 25px;
    color: #01114C;
    position: relative;
    z-index: 1;
  }
  .part-4 .body .right .firstly .zaza {
    position: relative;
    z-index: 2;
    top: -6rem;
    left: 293px;
  }
  .part-4 .body .right .secondly {
    position: relative;
    z-index: 4;
    top: -9.3rem;
    left: -6.8rem;
  }
  .part-4 .body .right .secondly .sa {
    position: relative;
    z-index: 5;
    padding: 10px 36px 23px 36px;
    width: 283px;
    height: 119px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-size: 12px;
    text-align: left;
    line-height: 25px;
    color: #01114C;
    margin-left: 125px;
  }
  .part-4 .body .right .secondly .sasa {
    position: relative;
    z-index: 6;
    top: -6rem;
    left: 400px;
  }
  footer {
    background-image: url(./images/Object.png);
    position: absolute;
    width: 100%;
    height: 1160px;
    top: 285rem;
    padding: 60px 43px 41px 46px;
  }
  footer .top {
    width: 100%;
    position: relative;
    left: -2rem;
  }
  footer .top .left {
    position: relative;
    z-index: 1;
    top: 25rem;
    left: 2rem;
    width: 100%;
    float: left;
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  footer .top .left .company {
    margin-top: 2rem;
    font-size: 21px;
    line-height: 19px;
    color: #041E8B;
    font-style: normal;
    font-weight: bold;
  }
  footer .top .left .company ul {
    margin-top: 24px;
  }
  footer .top .left .company ul li {
    list-style: none;
  }
  footer .top .left .company ul li a {
    text-decoration: none;
    color: #6D7278;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  footer .top .left .legal {
    margin-top: 2rem;
    font-size: 21px;
    line-height: 19px;
    color: #041E8B;
    font-style: normal;
    font-weight: bold;
  }
  footer .top .left .legal ul {
    margin-top: 24px;
  }
  footer .top .left .legal ul li {
    list-style: none;
  }
  footer .top .left .legal ul li a {
    text-decoration: none;
    color: #6D7278;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  footer .top .right {
    position: relative;
    z-index: 2;
    width: 100%;
    float: left;
    padding-left: 0rem;
    top: -29rem;
  }
  footer .top .right img {
    position: relative;
    z-index: 1;
  }
  footer .top .right .container {
    position: relative;
    z-index: 2;
    top: -8rem;
    left: 10rem;
    width: 200px;
    height: 157.02px;
    background: #ffffff;
    -webkit-box-shadow: 0px 40px 400px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 40px 400px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
  }
  footer .top .right .container .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }
  footer .top .right .container .location img {
    margin: 22.52px 0px 0px 19.5px;
  }
  footer .top .right .container .location p {
    margin: 21.02px 23px 0px 14px;
    text-align: left;
  }
  footer .top .right .container .call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }
  footer .top .right .container .call img {
    margin: 22.52px 0px 0px 19.5px;
  }
  footer .top .right .container .call p {
    margin: 21.02px 23px 0px 14px;
    text-align: left;
  }
  footer .top .right .container .message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }
  footer .top .right .container .message img {
    margin: 22.52px 0px 0px 19.5px;
  }
  footer .top .right .container .message p {
    margin: 21.02px 23px 0px 14px;
    text-align: left;
  }
  footer .lastman .ttext .na {
    position: absolute;
    left: 0rem;
    padding: 0rem .5rem;
    bottom: 14px;
    height: 80px;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 00.25px;
  }
  footer .lastman .ttext .na span {
    color: #041E8B;
  }
  footer .lastman .end .nana {
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding-left: .5rem;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.190476px;
  }
  footer .lastman .end .nana span {
    color: #041E8B;
  }
  footer .lastman .lani .thor {
    font-size: 10px;
  }
}
/*# sourceMappingURL=stylefor375.css.map */